.HomeContent {
  /* background-color: rgb(226, 210, 145); */
  display: block;
  box-sizing: border-box;
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  /* border: 1px dashed; */
}

.HomeContent__item {
  display: inline-block;
  padding: 15px;
  background-color: hotpink;
  margin: 0;
  margin-left: 10px;
  margin-top: 5px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
}

.HomeContent__item + p {
  font-size: 2rem;
}

.HomeContent__counterInfo {
  background-color: pink;
  margin-top: 10px;
}